# Ignore version control directories
.git
.gitignore

# Ignore Python cache and compiled files
__pycache__
*.pyc
*.pyo

# Ignore the virtual environment directory created by pipenv
# This is often .venv, but can vary. Explicitly ignoring common places.
.venv
venv
env

# Ignore Pipenv logs
pipenv.log

# Ignore build artifacts
dist/
build/

# Ignore local environment file (prefer passing env vars via Docker)
# Uncomment the line below if your application *must* read a .env file from this path in the container
#.env

# Ignore editor/IDE specific files
.vscode/
.idea/

# Ignore operating system files (macOS, Windows)
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

*.ini
.tool-versions