[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
internetarchive = "*"
langchain-openai = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
azure-identity = "*"
robotframework = "*"
playwright = "*"

[dev-packages]

[requires]
python_version = "3.11"
